.App {
  text-align      : center;
  background-color: white;
  height          : 100vh;
  justify-content : center;
  display         : flex;
  align-items     : center;

  @media screen and (max-width:768px) {
    flex-direction: column;
  }

  .cards {
    position: relative;
    height  : 100%;
    width   : 100%;
    flex    : 2;
    display : grid;

    .container {
      height      : 400px;
      position    : relative;
      width       : 530px;
      display     : grid;
      align-self  : center;
      justify-self: center;
    }
  }
}