.App {
  text-align      : center;
  background-color: white;
  height          : 100vh;
  justify-content : center;
  display         : flex;
  align-items     : center;

  @media screen and (max-width:1024px) {
    flex-direction: column;
  }

  .cards {
    position: relative;
    height  : 100%;
    width   : 100%;
    flex    : 2;
    display : grid;

    .container {
      position    : relative;
      height      : 400px;
      width       : 530px;
      display     : grid;
      align-self  : center;
      justify-self: center;

      @media screen and (min-width: 320px) {
        width : 100vW;
        height: 100vh;
      }

      @media screen and (min-width: 500px) {
        width : 100vW;
        height: 80%;
      }

      @media screen and (min-width: 1024px) {
        height: 400px;
        width : 530px;
      }
    }
  }
}